**/__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
.idea/
.vs/
*.synctex.gz
*.psv
test_data_for_ode.bin
experiments/datasets/*
experiments/results/*
experiments_forecasting/datasets/data
experiments_forecasting/datasets/processed_data
experiments_forecasting.zip
experiments_forecasting/results
Hallucination/datasets_local/dataset_v3.json
Hallucination/datasets_local/wiki_bio_info.csv
Hallucination/datasets_local/truthful_qa.json
Hallucination/processed_datasets
experiments_test/*
experiments_test
imgs/*